<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar-general></app-nabvar-general>

<dir>
  <div class="row " style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo Revisiones</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary" routerLink="/agregar-revision"
        style="text-align: left;">Agregar</button>
    </div>
  </div>
<dir>

    <div class="container mt-5" id="containerRevision">
      <div class="row">
        <div class="col-lg-12 offset-lg2">
          <div class="card">
            <div class="card-body text-center">           
              
              <table  *ngIf="listadoRevision.length > 0 "  datatable class="table table-striped mt-5 ">
                <thead>
                  <tr>                  
                    <th>Tecnico</th>
                    <th>T. revisión</th>
                    <th>Impresora</th>  
                    <th>Repuesto</th>                     
                    <th>Precio</th>
                    <th>Update</th>
                    <th>Fecha</th>
                    <th>Detalles</th>
                    <th>Estado</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr *ngFor= "let r of listadoRevision">                   
                    <td>{{r.Tecnico}}</td>   
                    <td>{{r.TipoRevision}}</td>              
                    <td>{{r.Impresora}}</td>
                    <td>{{r.Repuesto}}</td>
                    <td>{{r.Valor}}</td>
                    <td>{{r.Actualizacion}}</td> 
                    <td>{{r.FechaRevision}}</td>
                    <td>{{r.Datalles}}</td>                 
                    <td class="text-info ">{{r.Estado}}</td>
                    <td>                     
                      <a class="btn btn-success btn-sm " title="Editar" [routerLink]="['/editar-revision', r.id]"><i class="fa-solid fa-pen-to-square"></i></a>
                        <i (click)="eliminarRevision(r.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>
                  </tr>                 
                </tbody>                
              </table>
              <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoRevision.length == 0 ">No hay Revisiones para mostrar</h5>
            </div>
          </div>

        </div>
      </div>

    </div>