
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<header>
<!-- Navbar -->
<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/login">Cerrar sesión</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Módulos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/principal">Persona</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Seguros</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Impresoras</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Impresion 3D</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Repuestos</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Revisión</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Revisiones finalizadas</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 200px;
      margin-top: 50px;
    ">
    <div>
      
    </div>
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
     
        <div class="text-white">
          <a style="background-color: rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Estudios</a>
        </div>
        <div class="text-white">
          <a style="background-color:  rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Persona</a>
        </div>
        <div class="text-white">
          <a style="background-color:   rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Rol</a>
        </div>
        <div class="text-white">
          <a style="background-color:   rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Módulos</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>


