<!--instanciamos la cabecera-->
 <app-header></app-header>
<app-nabvar></app-nabvar>

<dir>

  <div class="row" style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo Permisos</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary" routerLink="/agregar-permisos"
        style="text-align: left;">Agregar</button>
    </div>
  </div>
  <dir>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 offset-lg2">
          <div class="card">
            <div class="card-body text-center">
              <table  *ngIf="listadoPermisos.length > 0 " datatable class="row-border hover " id="idTablePersona">
                <thead>
                  <tr>     
                    <th scope="col">#</th>                         
                    <th scope="col">Rol</th>
                    <th scope="col">Persona</th>
                    <th scope="col">Impresora</th>
                    <th scope="col">Seguro</th>
                    <th scope="col">Impresión 3D</th>
                    <th scope="col">Repuestos</th>
                    <th scope="col">Revisión</th>    
                    <th scope="col">Revisión finalizadas</th>               
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr *ngFor= "let p of listadoPermisos; index as i">  
                    <td scope="row">{{i+1}}</td>  
                    <td>{{p.Rol}}</td>                 
                    <td>{{p.Persona}}</td>
                    <td>{{p.Impresora}}</td>
                    <td>{{p.Seguros}}</td>
                    <td>{{p.Impresion3D}}</td>
                    <td>{{p.Repuestos}}</td>
                    <td>{{p.Revisiones}}</td>
                    <td>{{p.RevisionFinalizadas}}</td>
                    <td>
                      <a  class="btn btn-success btn-sm " title="Editar" [routerLink]="['/editar-permisos', p.id]"><i class="fa-solid fa-pen-to-square"></i></a>
                      <i (click)="eliminarpermisos(p.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
              <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoPermisos.length == 0 ">No hay Permisos para mostrar</h5>

            </div>
          </div>
        </div>
      </div>


    </div>