<app-header></app-header>
<app-nabvar-general></app-nabvar-general>

<div class="container" id="formrevisiones">
    <div class="row justify-content-center">
        <div class="row col-lg-8 border">

            <form [formGroup]="revisionForm" (ngSubmit)="agregarRevision()">

                <div class="row ">
                    <h2 style="text-align: center; color:rgb(0, 0, 0)" class="titulo">{{titulo | uppercase}}
                        <div *ngIf="loading" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h2>
                    <dir></dir>
                    <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                    <dir></dir>

                    <div class=" col-4">
                        <label>Asignar operario o técnico(<font color="red">*</font>)</label>
                        <select class="form-select " formControlName="tecnico" name="tecnico"
                            aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option *ngFor="let p of listadoPersona">{{p.Nombres}}</option>
                        </select>
                    </div>
                    <div class=" col-4">
                        <label>Impresora (<font color="red">*</font>)</label>
                        <select class="form-select " formControlName="impresora" name="impresora"
                            aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option *ngFor="let imp of listadoImpresora"> {{imp.Nombre}}</option>

                        </select>
                        <!-- <button type="button" class="btn btn-primary" style="margin: 5px ;"  *ngFor ="let imp of listadoImpresora" (click)="select(imp.Nombre)">Buscar correo</button> -->
                    </div>
                    <div class=" col-4">
                        <label>Estado (<font color="red">*</font>)</label>
                        <select type="text" class="form-control" name="estado" formControlName="estado">
                            <option selected="selected">Seleccionar..</option>
                            <option value="En Proceso">En Proceso</option>
                            <option value="Finalizado">Finalizado</option>
                        </select>
                    </div>

                    <div class=" col-4">
                        <label>Tipo de revisión (<font color="red">*</font>)</label>
                        <select type="text" class="form-control" name="revision" formControlName="revision">
                            <option selected="selected">Seleccionar..</option>
                            <option value="Interno">Interno</option>
                            <option value="Externo">Externo</option>
                        </select>
                    </div>
                    <div class=" col-4">
                        <label>Cambio de Repuesto(<font color="red">*</font>) </label>
                        <select class="form-select " formControlName="repuesto" name="repuesto"
                            aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option *ngFor="let rep of listadoRepuestos">{{rep.Detalle}}</option>
                            <option value="No aplica">No aplica</option>

                        </select>
                    </div>
                    <div class=" col-4">
                        <label>Precio (<font color="red">*</font>)</label>
                        <input type="number" name="precio" class="form-control" formControlName="precio"
                            placeholder="Precio">
                    </div>

                    <div class="col-8">
                        <label>Cliente/Correo electrónico </label>
                        <!-- <input type="text" name="cliente" class="form-control" placeholder="Precio" >                      -->
                        <select class="form-select " formControlName="correo" name="correo"
                            aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option *ngFor="let cl of listadoImpresora">{{cl.Correo}}</option>

                        </select>
                    </div>
                    <div class=" col-4">
                        <label>Actualización del software(<font color="red">*</font>)</label>
                        <select type="text" class="form-control" name="actualizacion" formControlName="actualizacion">
                            <option selected="selected">Seleccionar..</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>

                    <div class=" col-8">
                        <label>Detalles de la revisión (<font color="red">*</font>)</label>
                        <textarea type="text" name="detalle" class="form-control" placeholder="Detalles"
                            formControlName="detalle"></textarea>
                    </div>
                    <div class=" col-4">
                        <label>Fecha de Revisión(<font color="red">*</font>)</label>
                        <input class="form-control" type="date" name="fecha" min="10" max="10"
                            placeholder="01-02-2012" formControlName="fecha">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="margin: 5px ;"
                        [disabled]="revisionForm.invalid">Agregar</button>
                    <button type="button" routerLink="/revisiones" class="btn btn-info">Atras</button>
                </div>

            </form>
        </div>
    </div>
</div>