
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<header>
  <!-- Navbar -->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login">Cerrar sesión</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Módulos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/principal">Persona</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Seguros</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Impresoras</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Impresion 3D</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Repuestos</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Revisión</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Revisiones finalizadas</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Persona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Seguros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Impresoras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Impresion 3D</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Repuestos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Revisión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Revisiones finalizadas</a>
          </li>
        </ul>
      </div>
      <div class="div">
        <a class="nav-link" href="#">Cerrar sesión</a>
      </div>
    </div>
  </nav> -->
  <!-- Navbar -->

  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 200px;
      margin-top: 50px;
    ">
    <div>
      
    </div>
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
     
        <div class="text-white">
          <a style="background-color: rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Estudios</a>
        </div>
        <div class="text-white">
          <a style="background-color:  rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Persona</a>
        </div>
        <div class="text-white">
          <a style="background-color:   rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Rol</a>
        </div>
        <div class="text-white">
          <a style="background-color:   rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " href="#!" role="button">Módulos</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<dir>
  <div class="container">
    <table datatable class="row-border hover " id="idTablePersona">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Placa</th>
          <th scope="col">Año modelo</th>
          <th scope="col">Velocidad impresión</th>
          <th scope="col">Volumen impresión</th>
          <th scope="col">País</th>
          <th scope="col">F. mantenimiento</th>
          <th scope="col">Detalles</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
        <tr>
          <th scope="row">1</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Impresoras</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Impresoras</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>

      </tbody>
    </table>
    


    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" maxtLabel="Siguiente">
    </pagination-controls>
    <!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>  
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->

  </div>


  