<!--instanciamos la cabecera-->
<app-header></app-header>

<dir>
  <div class="container">
    <table datatable class="row-border hover " id="idTablePersona">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Placa</th>
          <th scope="col">Año modelo</th>
          <th scope="col">Velocidad impresión</th>
          <th scope="col">Volumen impresión</th>
          <th scope="col">País</th>
          <th scope="col">F. mantenimiento</th>
          <th scope="col">Detalles</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
        <tr>
          <th scope="row">1</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Impresoras</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Impresoras</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Impresora</td>
          <td>g-54826</td>
          <td>1985</td>
          <td>150455/s</td>
          <td>10000</td>
          <td>colombia</td>
          <td>02/10/2022</td>
          <td>no aplica</td>
          <td>
            <a class="btn btn-success btn-sm" routerLink="">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="">Eliminar</a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>


  