<app-header></app-header>
<app-nabvar></app-nabvar>

<div class="container" id="formImpresion3d">
    <div class="row justify-content-center">
        <div class="row col-lg-8 border">
            <form>
                <div class="row ">
                    <h2 style="text-align: center;">Registro de Impresiones 3D</h2>
                    <dir></dir>
                    <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                    <dir></dir>
                    <div class="col-4">
                        <label for="text" class="form-label">Nombres y Apellidos(<font color="red">*</font>)</label>
                        <input type="text" class="form-control" name="nombre.Nombres"
                            placeholder="Nombres y Apellidos" required="">
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Cédula(<font color="red">*</font>)</label>
                        <input type="number" class="form-control"
                            name="cedula.Identificacion" placeholder="Cédula" required="">
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Tipo de impresión (<font color="red">*</font>)</label>
                        <select class="form-select"  name="email.nivelEstudios"
                            name="profesion" aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option value="1">2D</option>
                            <option value="2">3D</option>
                            <option value="3">Normal</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Cantidad(<font color="red">*</font>)</label>
                        <input type="number" class="form-control" 
                            name="direccion.Direccion" placeholder="Precio">
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Precio(<font color="red">*</font>)</label>
                        <input type="number" class="form-control" 
                            name="cedula.Identificacion" placeholder="Cédula" required="">
                    </div>

                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="RegisterPersona()"
                        style="margin: 5px ;">Agregar</button>
                    <button type="button" routerLink="/impresion3d" class="btn btn-danger">Cancelar</button>
                </div>

            </form>

        </div>
    </div>
</div>