<p>repuestos works!</p>
<app-header></app-header>
<app-nabvar-general></app-nabvar-general>


<dir>
    <div class="row " style="margin:10px; ">
        <div class="col-md-4">
            <h3 style="text-align: right;">Módulo Repuestos</h3>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-primary" routerLink="/agregar-repuestos"
                style="text-align: left;">Agregar</button>
        </div>
    </div>
    <dir>

        <div class="container" id="containerRepuesto">
            <div class="row " >
                <div class="col-md-12 offset-lg2 ">
                    <div class="card">
                        <div class="card-body text-center">
                            <table datatable class="row-border hover " id="idTableRepuesto">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo de Repuesto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Cabezal</td>
                                        <td>50</td>
                                        <td>50000</td>
                                        <td>na</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" routerLink=""><i
                                                    class="fa-solid fa-eye"></i></a>
                                            <a class="btn btn-success btn-sm" routerLink=""><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a class="btn btn-danger btn-sm" routerLink=""><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Estructura</td>
                                        <td>34</td>
                                        <td>25000</td>
                                        <td>na</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" routerLink=""><i
                                                    class="fa-solid fa-eye"></i></a>
                                            <a class="btn btn-success btn-sm" routerLink=""><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a class="btn btn-danger btn-sm" routerLink=""><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                    <tr>

                                        <th scope="row">3</th>
                                        <td>Extrusor</td>
                                        <td>34</td>
                                        <td>40000</td>
                                        <td>na</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" routerLink=""><i
                                                    class="fa-solid fa-eye"></i></a>
                                            <a class="btn btn-success btn-sm" routerLink=""><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a class="btn btn-danger btn-sm" routerLink=""><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Fuente de alimentación</td>
                                        <td>23</td>
                                        <td>100000</td>
                                        <td>na</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" routerLink=""><i
                                                    class="fa-solid fa-eye"></i></a>
                                            <a class="btn btn-success btn-sm" routerLink=""><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a class="btn btn-danger btn-sm" routerLink=""><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>