 <app-header></app-header>
 <app-nabvar-general></app-nabvar-general>
 
 <div class="container" id="formrepuestos">
     <div class="row justify-content-center">
         <div class="row col-lg-8 border">
             <form [formGroup]="RepuestosForm" (ngSubmit)="agregarRepuestos()">
                 <div class="row ">                                
                     <h2 style="text-align: center; color:rgb(0, 0, 0)" class="titulo">{{titulo | uppercase}}
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h2>    
                     <dir></dir> 
                     <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                     <dir></dir>
                     <div class="col-4">
                         <label for="text" class="form-label">Nombre(<font color="red">*</font>)</label>
                         <input type="text" class="form-control" name="Nombre" formControlName="Nombre"
                             placeholder="Nombres repuesto" >
                     </div>                     
                     <div class="col-4">
                         <label for="text" class="form-label">Cantidad(<font color="red">*</font>)</label>
                         <input type="number" class="form-control" formControlName="Cantidad"
                             name="Cantidad" placeholder="Cantidad">
                     </div>
                     <div class="col-4">
                         <label for="text" class="form-label">Precio(<font color="red">*</font>)</label>
                         <input type="number" class="form-control"  formControlName="Precio"
                             name="Precio" placeholder="Precio">
                     </div>                  
                     <div class="col-4">
                        <label for="upload" class="form-label">Imagen(<font color="red">*</font>)</label>
                        <input formControlName="imagen" type="file" name="imagen" accept=".jpg, .png, .jpeg" >
                        <div class="input-group">                          
                            <span class="input-group-btn input-group-sm">
                                <button type="button" class="btn btn-fab btn-fab-mini">
                                    <i class="zmdi zmdi-attachment-alt"  ></i>
                                </button>
                            </span>
                        </div>
                    </div>
 
                 </div>
                 <div>
                     <button type="submit" class="btn btn-primary" 
                         style="margin: 5px ;" [disabled]="RepuestosForm.invalid">Agregar</button>
                     <button type="button" routerLink="/repuestos" class="btn btn-info">Atras</button>
                 </div>
 
             </form>
 
         </div>
     </div>
 </div>




