<!-- Background image -->
<nav class="">
<div class="p-5 text-center bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 200px;
    margin-top: 50px;
  ">
  <div>

  </div>
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">

      <div class="text-white">
        <a style="background-color: rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " routerLink="/persona"
          role="button">Funcionarios</a>
      </div>
      <div class="text-white">
        <a style="background-color: rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " routerLink="/persona-estudio"
          role="button">Estudios / Rol</a>
      </div>
      <div class="text-white">
        <a style="background-color:   rgb(12, 63, 216)" class="btn btn-outline-light btn-lg " routerLink="/persona-permisos"
          role="button">Módulos</a>
      </div>
    </div>
  </div>
</div>

</nav>
