<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar></app-nabvar>

<dir>

  <div class="row" style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo nivel estudios / rol</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary" routerLink="/agregar-estudio-rol"
        style="text-align: left;">Agregar</button>
    </div>
  </div>

  <dir>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg2">
          <div class="card">
            <div class="card-body text-center">
              <table datatable class="row-border hover ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Estudios</th>
                    <th scope="col">Acción</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr>
                    <th scope="row">1</th>
                    <td>Ingeniero de sistemas</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Agricultor</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Tecnico en sistemas</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Ingeniero telematica</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
   
        <div class="col-lg-6 offset-lg2">
          <div class="card">
            <div class="card-body text-center">
              <table datatable class="row-border hover " >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acción</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr>
                    <th scope="row">1</th>
                    <td>Administrador</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Auxiliar</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Tecnico</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Cajero</td>
                    <td>
                      <a class="btn btn-success btn-sm" routerLink=""><i class="fa-solid fa-pen-to-square"></i></a>
                      <a class="btn btn-danger btn-sm" routerLink=""><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>