<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar></app-nabvar>

<dir>

  <div class="row" style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo nivel estudios / rol</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary" routerLink="/agregar-estudio-rol"
        style="text-align: left;">Agregar</button>
    </div>
  </div>

  <dir>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg2">
          <div class="card">
            <div class="card-body text-center">
              <table  *ngIf = "listadoNivelEstudio.length > 0"  datatable class="row-border hover ">
                <thead>
                  <tr>               
                    <th scope="col">Estudios</th>
                    <th scope="col">Acción</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr  *ngFor= "let estudio of listadoNivelEstudio">                
                    <td>{{estudio.Nombre}}</td>
                    <td>
                      <a class="btn btn-success btn-sm " title="Editar" [routerLink]="['/editar-estudio', estudio.id]"><i class="fa-solid fa-pen-to-square"></i></a>
                      <i (click)="eliminarEstudio(estudio.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>
                  </tr>                 
                </tbody>
              </table>
              <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoNivelEstudio.length == 0 ">No hay Nivel de estudio para mostrar</h5>
            </div>
          </div>
        </div>
   
        <div class="col-lg-6 offset-lg2">
          <div class="card">
            <div class="card-body text-center">
              <table *ngIf = "listadoRol.length > 0" datatable class="row-border hover " >
                <thead>
                  <tr>                 
                    <th scope="col">Tecnico</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Password</th>
                    <th scope="col">Acción</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr *ngFor= "let rol of listadoRol">
                    <td>{{rol.Nombre}}</td>       
                    <td>{{rol.Rol}}</td>          
                    <td>{{rol.Password}}</td>               
                    <td>
                      <a  class="btn btn-success btn-sm " title="Editar" [routerLink]="['/editar-estudio', rol.id]"><i class="fa-solid fa-pen-to-square"></i></a>
                      <i (click)="eliminarRol(rol.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>  <a  class="btn btn-success btn-sm " title="Editar" [routerLink]="['/editar-estudio', rol.id]"><i class="fa-solid fa-pen-to-square"></i></a>
                      <i (click)="eliminarRol(rol.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>
                  </tr>                            
                </tbody>
              </table>
              <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoRol.length == 0 ">No hay Rol para mostrar</h5>
            </div>
          </div>
        </div>
      </div>

    </div>