

  <div class="container center">
<div class="row justify-content-center">
 
    <div class="row col-lg-12">
    <form>      
        <div class="page-error" id="notFound">
              <h1><i class="fa fa-exclamation-circle"></i> Error 404: Page not found</h1>
              <p>The page you have requested is not found.</p>
        
              <button type="button" routerLink="/principal" class="btn btn-info">Volver el menu principal</button>
            </div>      
        </form>
      </div> 
</div>
    
  </div>
  
