<app-header></app-header>
<!--<app-nabvar></app-nabvar>-->

<div class="p-5 text-center bg-image" style="
background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
height: 200px;
margin-top: 50px;
">
<br><br><br><br><br><br><br><br><br>

<div class="container" id="formRepuestos" >
    <div class="row justify-content-center">
        <div class="row col-lg-8 border" >
            <form>
                <div class="row " >
                    <h2 style="text-align: center;">Registro de Repuestos</h2>
                    <dir></dir>
                    <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                    <dir></dir>
                    <div class="col-4">
                        <label for="text" class="form-label">Tipo de Repuesto (<font color="red">*</font>)</label>
                        <select class="form-select " aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option value="1">Soporte Bobina</option>
                            <option value="2">Extrusor</option>
                            <option value="3">Fusor</option>
                            <option value="3">eje x</option>
                            <option value="2">Fuente de alimentacion</option>
                            <option value="3">Estructura</option>
                            <option value="3">Cama</option>
                            <option value="3">Circuito Electrónico</option>
                        </select> 
                    </div>             
                    <div class="col-4">
                        <label class="form-label" for="precio">Precio(<font color="red">*</font>)</label>
                        <input type="email" class="form-control" id="email"  placeholder="Precio"  required="">                   
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Cantidad(<font color="red">*</font>)</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="Cantidad">
                    </div>
                </div>
            </form>
            <div>
                <button type="submit" class="btn btn-primary" style="margin: 5px ;">Agregar</button>
                <button type="button" routerLink="/repuestos" class="btn btn-danger">Cancelar</button>
            </div>

        </div>

    </div>   
</div>
