<app-header></app-header>
<app-nabvar></app-nabvar>

<div class="container" id="fromestudio" >
    <div class="row col-lg-8 border" >
        <form>
            <div class="row " >
                <h2 style="text-align: center;">Registro de estudios</h2>
                <dir></dir>
                <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                <dir></dir>
                <div class="col-8">
                    <label for="text" class="form-label">Estudio(<font color="red">*</font>)</label>
                    <input type="nombre" class="form-control" id="nombre" placeholder="Nombre" required="">
                </div>  
            </div>
        </form>
        <div>
            <button type="submit" class="btn btn-primary" style="margin: 5px ;">Agregar</button>
            <button type="button" routerLink="/estudio" class="btn btn-danger">Cancelar</button>
        </div>

    </div>
</div>
<div class="container" id="formestudio2" >
    <div class="row col-lg-8 border" >
        <form>
            <div class="row " >
                <h2 style="text-align: center;">Registro de roles</h2>
                <dir></dir>
                <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                <dir></dir>
                <div class="col-8">
                    <label for="text" class="form-label">Estudio(<font color="red">*</font>)</label>
                    <input type="nombre" class="form-control" id="nombre" placeholder="Nombre" required="">
                </div>  
            </div>
        </form>
        <div>
            <button type="submit" class="btn btn-primary" style="margin: 5px ;">Submit</button>
            <button type="button" routerLink="/estudio" class="btn btn-danger">Cancelar</button>
        </div>

    </div>
</div>