<!--<app-header></app-header>-->
<app-nabvar></app-nabvar>

<div class="container" id="fromestudio">
    <div class="row ">
        <div class="row col-lg-6 border">
            <form [formGroup]="estudioForm" (ngSubmit)="agregarEstudio()">
                <div class="row ">
                    <h2 style="text-align: center; color:rgb(0, 0, 0)" class="titulo">{{tituloEstudio | uppercase}}
                        <div *ngIf="loadingE" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h2>
                    <dir></dir>
                    <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                    <dir></dir>
                    <div class="col-8">
                        <label for="text" class="form-label">Estudio(<font color="red">*</font>)</label>
                        <input type="nombre" class="form-control" formControlName="Nombre" placeholder="Nombre"
                            required="">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="margin: 5px ; "
                        [disabled]="estudioForm.invalid">Agregar</button>
                    <button type="button" routerLink="/persona-estudio" class="btn btn-info">Atras</button>
                </div>
            </form>
        </div>


        <div class="row col-lg-6 border">
            <form [formGroup]="rolForm" (ngSubmit)="agregarRol()">
                <div class="row ">
                    <h2 style="text-align: center; color:rgb(0, 0, 0)" class="titulo">{{titulo | uppercase}}
                        <div *ngIf="loadingR" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h2>
                    <dir></dir>
                    <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                    <dir></dir>
                    <div class="col-6">
                        <label for="text" class="form-label">Técnico(<font color="red">*</font>)</label>
                        <select class="form-select " formControlName="Nombre" name="Nombre" aria-label="Default select example">
                            
                             <option  selected>Seleccionar..</option>
                             <option *ngFor ="let p of listadoPersonas">{{p.Nombres}}</option>
                          
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="text" class="form-label">Rol(<font color="red">*</font>)</label>
                        <select class="form-select " formControlName="Rol" name="Rol" aria-label="Default select example">                            
                            <option  selected >Seleccionar..</option>
                            <option value="Admin">Admin</option>
                            <option value="Auxiliar">Auxiliar</option>
                            <option value="Tecnico">Tecnico</option>
                         
                       </select>
                   
                    </div>
                    <div class="col-6">
                        <label for="text" class="form-label">Password(<font color="red">*</font>)</label>
                        <input type="password" class="form-control" formControlName="Password"
                            placeholder="Ingresa el password">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" style="margin: 5px ;"
                        [disabled]="rolForm.invalid">Agregar</button>
                    <button type="button" routerLink="/persona-estudio" class="btn btn-info">Atras</button>
                </div>
            </form>
        </div>
    </div>
</div>