<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar-general></app-nabvar-general>

<dir>
    <div class="row " style="margin:10px; ">
        <div class="col-md-4">
            <h3 style="text-align: right;">Módulo Impresión 3D</h3>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-primary" routerLink="/agregar-impresion3d"
                style="text-align: left;">Agregar</button>
        </div>
    </div>
<dir>



        <div class="container mt-5" id="containerImpresion">
            <div class="row">
                <div class="col-lg-12 offset-lg2">
                    <div class="card">
                        <div class="card-body text-center">

                            <table *ngIf="listadoImpresion3d.length > 0 " datatable class="table table-striped mt-5 " id="idTableImpresion">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombres y Apellidos</th>
                                        <th scope="col">Cédula</th>
                                        <th scope="col">Tipo de Impresión</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                                    <tr *ngFor= "let rep of listadoImpresion3d"> 
                                        <th scope="row">1</th>
                                        <td>{{rep.Cliente}}</td>
                                        <td>{{rep.Identificacion}}</td>
                                        <td>{{rep.Cantidad}}</td>
                                        <td>{{rep.TipoImpre}}</td>
                                        <td>{{rep.Precio}}</td>
                                        <td>
                                            
                                            <a class="btn btn-success btn-sm" [routerLink]="['/editar-impresion3d', rep.Id]"><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a (click)="eliminarImpresion3d(rep.Id)"class="btn btn-danger btn-sm" routerLink="/impresion3d"><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoImpresion3d.length == 0 ">No hay registros</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>