<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar-general></app-nabvar-general>

<dir>
  <div class="row " style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo revisiones finalizadas</h3>
    </div>   
  </div>
<dir>

    <div class="container mt-5" id="containerRevisionesfinalizadas">
      <div class="row">
        <div class="col-lg-12 offset-lg2">
          <div class="card">
            <div class="card-body text-center">           
              
              <table  *ngIf="listadoRevision.length > 0 "  datatable class="table table-striped mt-5 ">
                <thead >
                  <tr>   
                    <th>#</th>             
                    <th>Tecnico</th>
                    <th>T. revisión</th>
                    <th>Impresora</th>  
                    <th>Repuesto</th>                     
                    <th>Precio</th>
                    <th>Update</th>
                    <th>Fecha</th>
                    <th>Detalles</th>
                    <th>Estado</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead  >
                <tbody  *ngFor= "let r of listadoRevision; index as i" class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                
                   <tr *ngIf="r.Estado != 'En Proceso'">   
                    <td scope="row">{{i+1}}</td>                               
                    <td>{{r.Tecnico}}</td>   
                    <td>{{r.TipoRevision}}</td>              
                    <td>{{r.Impresora}}</td>
                    <td>{{r.Repuesto}}</td>
                    <td>{{r.Valor}}</td>
                    <td>{{r.Actualizacion}}</td> 
                    <td>{{r.FechaRevision}}</td>
                    <td>{{r.Datalles}}</td>                 
                    <td class="text-info ">{{r.Estado}}</td>
                    <td>                              
                        <i (click)="eliminarRevision(r.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>
                  </tr>                 
                </tbody>                
              </table>
              <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoRevision.length == 0 ">No hay Revisiones para mostrar</h5>
            </div>
          </div>

        </div>
      </div>

    </div>