<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar-general></app-nabvar-general>

<dir>
  <div class="row " style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo revisiones finalizadas</h3>
    </div>   
  </div>
<dir>

    <div class="container mt-5" id="containerRevisionesfinalizadas">
      <div class="row">
        <div class="col-lg-12 offset-lg2">
          <div class="card">
            <div class="card-body text-center">           
              
              <table datatable class="table table-striped mt-5 " id="idTablePersona">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tecnico</th>
                    <th scope="col">Impresora</th>
                    <th scope="col">T. revisión</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Precio</th>                  
                    <th scope="col">Estado</th>            >
                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr>
                    <th scope="row">1</th>
                    <td>Haminton mena</td>
                    <td>richo</td>
                    <td>interno</td>
                    <td>Cambio de toner y mantenimiento/s</td>
                    <td>hamintonjair@gmail.com</td>
                    <td>18500</td>                                 
                   <td>                    
                      <a class="btn btn-success btn-sm" routerLink="">Finalizado</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Haminton mena</td>
                    <td>richo</td>
                    <td>interno</td>
                    <td>Cambio de toner y mantenimiento/s</td>
                    <td>hamintonjair@gmail.com</td>
                    <td>18500</td>                                 
                   <td>                    
                      <a class="btn btn-success btn-sm" routerLink="">Finalizado</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Haminton mena</td>
                    <td>richo</td>
                    <td>interno</td>
                    <td>Cambio de toner y mantenimiento/s</td>
                    <td>hamintonjair@gmail.com</td>
                    <td>18500</td>                                 
                   <td>                    
                      <a class="btn btn-success btn-sm" routerLink="">Finalizado</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Haminton mena</td>
                    <td>richo</td>
                    <td>interno</td>
                    <td>Cambio de toner y mantenimiento/s</td>
                    <td>hamintonjair@gmail.com</td>
                    <td>18500</td>                                 
                   <td>                    
                      <a class="btn btn-success btn-sm" routerLink="">Finalizado</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>