<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar-general></app-nabvar-general>

<dir>
  <div class="row " style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo impresora</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary" routerLink="/agregar-impresora"
        style="text-align: left;">Agregar</button>
    </div>
  </div>
<dir>

    <div class="container mt-5" id="containerImpresora">
      <div class="row">
        <div class="col-lg-12 offset-lg2">
          <div class="card">
            <div class="card-body text-center">           
              
              <table  datatable class="table table-striped mt-5 " id="idTableImpresora">
                <thead>
                  <tr>                     
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Tipo imp.</th>
                    <th scope="col">Placa.</th>
                    <th scope="col">Año Modelo</th>
                    <th scope="col">F. ingreso</th>
                    <th scope="col">Velocidad imp</th>
                    <th scope="col">Volumen Imp </th>
                    <th scope="col">Pais</th>
                    <th scope="col">Acción</th>                 
                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr >                               
                    <td></td>
                     
                    <td>
                    
                      <a class="btn btn-success btn-sm " title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                      <i class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>  
                  </tr>             
                </tbody>
              </table>
              <h5 style="text-align: center; margin-top: 10px;" >No hay impresoras para mostrar</h5>
            </div>
          </div>

        </div>
      </div>

    </div>