<!--instanciamos la cabecera-->
<app-header></app-header>
<app-nabvar></app-nabvar>

<dir>
  <div class="row " style="margin:10px; ">
    <div class="col-md-4">
      <h3 style="text-align: right;">Módulo funcionarios</h3>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary" routerLink="/agregar-persona"
        style="text-align: left;">Agregar</button>
    </div>
  </div>
<dir>

    <div class="container mt-5" id="containerPersona">
      <div class="row">
        <div class="col-lg-12 offset-lg2">
          <div class="card">
            <div class="card-body text-center">           
              
              <table  *ngIf="listadoPersonas.length > 0 " datatable class="table table-striped mt-5 " id="idTablePersona">
                <thead>
                  <tr>                     
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">F. nacimiento</th>
                    <th scope="col">Socio</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider  | paginate: { itemsPerPage: 3, currentPage: page}">
                  <tr *ngFor= "let p of listadoPersonas">                               
                    <td>{{p.Nombres}}</td>
                    <td>{{p.Apellidos}}</td>
                    <td>{{p.Identificacion}}</td>
                    <td>{{p.Telefono}}</td>
                    <td>{{p.Email}}</td>
                    <td>{{p.Direccion}}</td>
                    <td>{{p.FechaNacimiento}}</td>
                    <td>{{p.Socio}}</td>               
                    <td>
                    
                      <a class="btn btn-success btn-sm " title="Editar" [routerLink]="['/editar-persona', p.id]"><i class="fa-solid fa-pen-to-square"></i></a>
                      <i (click)="eliminarPersona(p.id)" class="btn btn-danger btn-sm" title="Eliminar"><i class="fa-solid fa-trash-can"></i></i>
                    </td>  
                  </tr>             
                </tbody>
              </table>
              <h5 style="text-align: center; margin-top: 10px;" *ngIf="listadoPersonas.length == 0 ">No hay funcionarios para mostrar</h5>
            </div>
          </div>

        </div>
      </div>

    </div>