/* You can add global styles to this file, and also import other style files */
header .container-fluid{  
   background-color: rgb(55, 103, 177);
   width: 90%;
   height: 60px;   
}
header .container-fluid a{
   color: white;
   font-size: 20px;
}
#idTablePersona{
   width: 100%;
}
table, th, td {
   background-color: rgb(227, 232, 227);
   text-align: center;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   border-bottom: 1px solid rgb(154, 173, 205); 

}
tr:hover{
   background-color: rgb(146, 168, 209);
}
th{   
   color: rgb(12, 63, 216);
}
.active {
 
   border-bottom: 1px solid rgb(154, 173, 205); 
 }
 .active:hover{
   background-color: rgb(146, 168, 209);
 }
 footer {
   background-color:rgb(55, 103, 177);
   position: static;
   bottom: 0;
   width: 95%;
   height: 70px;
   color: white;
   
 }