/* You can add global styles to this file, and also import other style files */
//header
header .container-fluid{  
   background-color: rgb(55, 103, 177);
   width: 90%;
   height: 60px;   
}
header .container-fluid a{
   color: white;
   font-size: 20px;
}
//tablas
#idTablePersona{
   width: 100%;
}
table, th, td {
   background-color: rgb(227, 232, 227);
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   border-bottom: 1px solid rgb(154, 173, 205); 

}
th, td {
   width: auto;
   text-align: left;
 
}
tr:hover, th:hover{
   background-color: rgb(108, 133, 180);
}
th{   
   color: rgb(12, 63, 216);
   text-align: right;

}
.active { 
   border-bottom: 1px solid rgb(154, 173, 205); 
 }
 .active:hover{
   background-color: rgb(146, 168, 209);
 }

 //footer
 footer {
   background-color:rgb(55, 103, 177);
   position: static;
   bottom: 0;
   width: 100%;
   height: 70px;
   color: white;
   
 }

 #container2{
   padding: 30px;
   width: 40%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-0%, -20%);
 }
  //formulario estudio
  #fromestudio{
   padding: 20px;
  
 }

 
 //formulario funcionario
 #formfuncionario{     
    padding: 20px;
 }

 //formulario modulo
 #formModulos{
   padding: 20px;
 }

  //formulario impresion3d
  #formImpresion3d{
   padding: 20px;
 }
  //formulario revisiones
 #formrevisiones{
   padding: 20px;
 }
 //formulario repuestos
 #formrepuestos{
   padding: 20px;
 }

