<app-header></app-header>
<app-nabvar></app-nabvar>

<div class="container" id="formfuncionario">
    <div class="row justify-content-center">
        <div class="row col-lg-8 border">
          
            <form [formGroup]="personaForm" (ngSubmit)="agregarPersona()">
                <div class="row ">
                    <h2 style="text-align: center; color:rgb(0, 0, 0)" class="titulo">{{titulo | uppercase}}
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h2>                 
                    <dir></dir>
                    <label for="text">Los campos con (<font color="red">*</font>) son obligatorios</label>
                    <dir></dir>
                    <div class="col-4">
                        <label for="text" class="form-label">Nombre (<font color="red">*</font>)</label>
                        <input type="text" class="form-control" formControlName="Nombres" name="Nombres"
                            placeholder="Nombre" >
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Apellidos(<font color="red">*</font>)</label>
                        <input type="text" class="form-control" formControlName="Apellidos"
                            name="Apellidos" placeholder="Apellidos" >
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Cédula(<font color="red">*</font>)</label>
                        <input type="number" class="form-control" formControlName="Identificacion"
                            name="Identificacion" placeholder="Cédula">
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Teléfono(<font color="red">*</font>)</label>
                        <input type="number" class="form-control" formControlName="Telefono"
                            name="Telefono" placeholder="Telefono">
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="email">E-mail(<font color="red">*</font>)</label>
                        <input type="email" class="form-control" formControlName="Email" name="Email"
                            placeholder="E-mail" >
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Dirección</label>
                        <input type="text" class="form-control" formControlName="Direccion"
                            name="Direccion" placeholder="Dirección">
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Fecha nacimiento</label>
                        <input type="date" class="form-control" formControlName="FechaNacimiento"
                            name="FechaNacimiento">
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Profesión(<font color="red">*</font>)</label>
                        <select class="form-select" formControlName="nivelEstudios" name="nivelEstudios"
                            name="profesion" aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option *ngFor = "let e of listadoNivelEstudio" >{{e.Nombre}}</option>    
                            <option value="Ninguno">Ninguno</option>                   
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="text" class="form-label">Socio(<font color="red">*</font>)</label>
                        <select class="form-select" formControlName="Socio" aria-label="Default select example">
                            <option selected>Seleccionar..</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>              
                </div>
                <div>
                    <button type="submit" class="btn btn-primary"
                        style="margin: 5px ;" [disabled]="personaForm.invalid">Agregar</button>
                    <button type="button" routerLink="/persona" class="btn btn-danger">Cancelar</button>
                </div>

            </form>

        </div>
    </div>
</div>